.tooltipster-base {
    display: none;
}



.social-button,
.social-icons .button.icon:not(.is-outline),
.social-icons .button.icon:hover {
    color: white !important;
    background: none !important;
    border-color: rgba(255, 255, 255, 0.5) !important;
}


/*.slider>.next>svg>path {
    transform: none !important;
}

body .slider-nav-circle .flickity-prev-next-button:hover svg,
.slider-nav-circle .flickity-prev-next-button:hover .arrow {
    fill: black !important;
}*/

/*
.flickity-button-icon path {
    fill: black !important;
}

body .flickity-button-icon:hover {
    fill: black !important;
}*/

/*.flickity-button-icon {

    padding: 0 !important;
    border: none !important;
    width: 20px !important;
    height: auto !important;
}

.flickity-button {
    border-radius: 100%;
    background: #05141f;
    width: 60px !important;
    height: 60px !important;

}

.flickity-button svg {
    *padding:
}*/
/*
.next {
    *display: block !important;
    *visibility: visible !important;
    *background: black !important;
}

.flickity-button:hover {
    *background: black;
}

.flickity-button-icon {
    *display: none;
}*/

.social-icons i {
    top: 1px;
}

.par_15:hover:after {
    width: 100%;

}

.par_15.togle {
    width: 200px;
}

.par_15:after {
    position: relative;
    transform: scaleX(0);
    transform-origin: center center;
    transition: transform .3s ease-in-out;
    display: block;
    *margin-top: -20px;
    content: '';
    width: 100%;
    height: 2px;
    *margin: 20px;
    background: black;
}

.par_15.tool:after {
    transform: scaleX(1);
    transform-origin: center center;
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background: black;
    *position: absolute;
    position: relative;
}

.HidenP {
    display: none;
}

.card_strip_model {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    *width: 49.7%;
    padding: 40px 0px;
    justify-content: center;
    background-color: #f2f2f2;
    color: #000;
    font-weight: 700;
    text-decoration: none;
}

.icon_strip_model {
    width: 41px !important;
    margin-right: 15px !important;
}

.card_strip_model img {
    width: 41px;
    margin-right: 15px;
}

.card_strip_model a {
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;

}

.content_strip_model {
    align-items: center;
}


.otpravSubmitSpan:after {
    position: absolute;
    margin-left: 10%;
    width: 0;
    content: "";
    bottom: 18px;
    left: 0;
    right: 0;
    border-bottom: 1px solid white;
    will-change: transform;
    pointer-events: none;
    transition: width 0.2s ease-out;
}

.otpravSubmitSpan:hover:after {
    margin-left: 10%;
    width: 80%;

}

.otpravSubmitSpan {
    margin-top: 20px;
    position: absolute;
}

.otpravSubmit {
    text-transform: initial !important;
    padding: 10px 20px !important;
    font-size: 13px !important;
    margin-right: 0px !important;
    margin-bottom: 0px !important;
}

.wpcf7-not-valid-tip {
    position: absolute !important;
}

.numberLink {
    position: relative;
    text-decoration: none;
    color: inherit;
    transition: color .25s ease;
}

.numberLink:hover:after {
    width: 100%;
}

.numberLink:after {
    display: block;
    position: absolute;
    left: 0;
    /*изменить на right:0;, чтобы изменить направление подчёркивания */
    width: 0;
    /*задаём длинну линии до наведения курсора*/
    height: 1px;
    /*задаём ширину линии*/
    background-color: black;
    /*задаём цвет линии*/
    content: "";
    transition: width 0.2s ease-out;
}

.borderZvonok {
    background: #ccc;
    height: 1px;
    margin-bottom: 20px;
}

#form_border1 {
    border: none;
    box-shadow: none;
}

#form_border2 {
    border: none;
    box-shadow: none;
}

#form_border2.togle {
    width: 200px;
}

.border-input2>span.tool:after,
.border-input1>span.tool:after {
    transform: scaleX(1);
    transform-origin: center center;
    margin-top: -20px;
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background: black;
    position: absolute;
}

.border-input2>span:after,
.border-input1>span:after {
    position: absolute;
    transform: scaleX(0);
    transform-origin: center center;
    transition: transform .3s ease-in-out;
    display: block;
    margin-top: -20px;
    content: '';
    width: 100%;
    height: 2px;
    *margin: 20px;
    background: black;
}

.border-input2>span.tool2:after {
    transform: scaleX(0);
    margin-top: -70px;
    content: 'Я псевдо-элемент after';
    display: block;
    width: 100%;
    height: 20px;
    background: green;
}

.wpcf7-acceptance input {
    margin-bottom: 0px !important;
}

.wpcf7-list-item-label {
    font-weight: 400;
}



.icon-angle-down {
    display: none !important;
}

.cart {
    display: none;
}

.price_slider_amount .button {
    float: none !important;
    text-align: left;
    display: inherit;
}

.is-xsmall {
    display: none
}

.nav-dropdown-default {
    *padding: 5px !important;
}

.nav-dropdown>li.nav-dropdown-col,
.nav-dropdown>li.image-column {
    min-width: 140px;
}

.slider-style-container .flickity-slider>*:not(.is-selected),
.slider-style-shadow .flickity-slider>*:not(.is-selected),
.slider-style-focus .flickity-slider>*:not(.is-selected) {
    opacity: 1;
}

body {
    line-height: 1.2;
}

.flickity-page-dots .dot {
    width: 40px !important;
    border: solid white 1.2px;
    height: 2.4px !important;
    margin: 5px !important;
}

.blog_posts .box-text-inner>h5,
.box-text-inner,
.from_the_blog_excerpt {
    color: black !important;
    text-shadow: none;
}

.nav-vertical>li+li {
    border-top: none;
}

.tabbed-content>ul>li.tab.active.has-icon>a:before {
    *background-color: red !important;
}

.divider {
    *opacity: 0 !important;
    *display: none;
}

.entry-title:after {
    margin-left: 15px;
    *background-color: #fc0;
    border-right: 2px solid;
    border-color: #a9a9a9 !important;
    content: "";
    *border-right: 2px solid;
}

.entry-title {
    *width: 110%;
    *border-right: 2px solid;
}

.page-title-sub {
    *border-left: 2px solid;
    margin-left: 15px;
}

.page-title-sub:before {
    *content: "";
    *margin-right: 10px;
    *border-left: 2px solid;
}

.woocommerce-breadcrumb {
    *background-color: #00a650;
}

.woocommerce-breadcrumb>a:after {
    display: block;
    position: absolute;
    left: 0;
    /*изменить на right:0;, чтобы изменить направление подчёркивания */
    width: 0;
    /*задаём длинну линии до наведения курсора*/
    height: 1px;
    /*задаём ширину линии*/
    background-color: white;
    /*задаём цвет линии*/
    content: "";
    transition: width 0.2s ease-out;
    /*задаём время анимации*/
}

.woocommerce-breadcrumb>a:hover:after,
.woocommerce-breadcrumb>a:focus:after {
    width: 100%;
    /*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/
}

.woocommerce-breadcrumb>a {
    position: relative;
}

.woocommerce-breadcrumb>a {
    cursor: pointer;
    line-height: 1.5;
    /*задаём высоту строки*/
    text-decoration: none;
    /*убираем подчёркивание*/
}
